.card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 2px 10px 0 rgb(0 0 0 / 11%);
    background-color: rgba(61, 64, 71, 0.3);
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    -moz-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    width: 26%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.card:hover {
    border-color: #acacac;
}

.card-title {
    color: #fff;
    margin-bottom: 5px;
}

.card-image {
    max-height: 200px;
    aspect-ratio: 3/2;
    margin-top: -20px;
}

.card-nation {
    margin: 0;
    text-transform: uppercase;
    color: #acabab;
}

.card-hashtags {
    display: flex;
    flex-wrap: wrap;
}

.hashtag {
    margin-right: 7px;
    color: #a98802;
}

.card-description {
    color: #cfcfcf;
    text-align: left;
}

.card-schemas {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .card {
        width: 90%;
        margin: 10px 0;
    }
}

@media (max-width: 550px) {
    .card:last-child {
        margin-bottom: 50px;
    }
}
